body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:597px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:700px;
  overflow:hidden;
}
#u1_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:700px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:658px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:36px;
  -moz-box-shadow:0px -5px 5px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px -5px 5px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px -5px 5px rgba(174, 174, 174, 0.349019607843137);
}
#u2 {
  position:absolute;
  left:24px;
  top:20px;
  width:304px;
  height:658px;
}
#u3 {
  position:absolute;
  left:2px;
  top:321px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:36px;
}
#u4 {
  position:absolute;
  left:25px;
  top:20px;
  width:302px;
  height:36px;
  color:#F2F2F2;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:700px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:700px;
}
#u7 {
  position:absolute;
  left:2px;
  top:342px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:26px;
  top:55px;
  width:300px;
  height:30px;
  overflow:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u10 {
  position:absolute;
  left:0px;
  top:7px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  font-size:16px;
  color:#000000;
}
#u12 {
  position:absolute;
  left:0px;
  top:6px;
  width:300px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:3px;
}
#u13 {
  position:absolute;
  left:263px;
  top:14px;
  width:15px;
  height:3px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-6px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:12px;
}
#u15 {
  position:absolute;
  left:10px;
  top:9px;
  width:6px;
  height:12px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-top:0px;
  border-radius:35px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:0px -5px 5px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px -5px 5px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px -5px 5px rgba(174, 174, 174, 0.349019607843137);
}
#u18 {
  position:absolute;
  left:25px;
  top:637px;
  width:302px;
  height:42px;
}
#u19 {
  position:absolute;
  left:2px;
  top:13px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:25px;
  top:637px;
  width:100px;
  height:42px;
  overflow:hidden;
}
#u20_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u21 {
  position:absolute;
  left:40px;
  top:4px;
  width:20px;
  height:18px;
}
#u22 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#09BB07;
}
#u23 {
  position:absolute;
  left:39px;
  top:25px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#09BB07;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u20_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u25 {
  position:absolute;
  left:40px;
  top:4px;
  width:20px;
  height:18px;
}
#u26 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#5E5E5E;
}
#u27 {
  position:absolute;
  left:39px;
  top:25px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#5E5E5E;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30 {
  position:absolute;
  left:126px;
  top:637px;
}
#u30_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u30_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#5E5E5E;
}
#u31 {
  position:absolute;
  left:34px;
  top:25px;
  width:32px;
  height:13px;
  font-size:10px;
  color:#5E5E5E;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u33 {
  position:absolute;
  left:38px;
  top:4px;
  width:20px;
  height:18px;
}
#u34 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u30_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#09BB07;
}
#u36 {
  position:absolute;
  left:34px;
  top:25px;
  width:32px;
  height:13px;
  font-size:10px;
  color:#09BB07;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u38 {
  position:absolute;
  left:38px;
  top:4px;
  width:20px;
  height:18px;
}
#u39 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:226px;
  top:637px;
}
#u40_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u40_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#5E5E5E;
}
#u41 {
  position:absolute;
  left:29px;
  top:25px;
  width:43px;
  height:13px;
  font-size:10px;
  color:#5E5E5E;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u43 {
  position:absolute;
  left:41px;
  top:4px;
  width:20px;
  height:18px;
}
#u44 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u40_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u40_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#09BB07;
}
#u46 {
  position:absolute;
  left:29px;
  top:25px;
  width:43px;
  height:13px;
  font-size:10px;
  color:#09BB07;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u48 {
  position:absolute;
  left:41px;
  top:4px;
  width:20px;
  height:18px;
}
#u49 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:71px;
  background:inherit;
  background-color:rgba(9, 187, 7, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:12px;
  color:#FFFFFF;
}
#u50 {
  position:absolute;
  left:367px;
  top:350px;
  width:230px;
  height:71px;
  font-size:12px;
  color:#FFFFFF;
}
#u51 {
  position:absolute;
  left:10px;
  top:15px;
  width:210px;
  word-wrap:break-word;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:26px;
  background:inherit;
  background-color:rgba(9, 187, 7, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:12px;
  color:#FFFFFF;
}
#u52 {
  position:absolute;
  left:367px;
  top:257px;
  width:200px;
  height:26px;
  font-size:12px;
  color:#FFFFFF;
}
#u53 {
  position:absolute;
  left:10px;
  top:6px;
  width:180px;
  word-wrap:break-word;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:37px;
  background:inherit;
  background-color:rgba(9, 187, 7, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  color:#FFFFFF;
}
#u54 {
  position:absolute;
  left:367px;
  top:16px;
  width:174px;
  height:37px;
  font-size:16px;
  color:#FFFFFF;
}
#u55 {
  position:absolute;
  left:10px;
  top:9px;
  width:154px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:25px;
  top:85px;
  width:325px;
  height:552px;
  overflow:hidden;
}
#u56_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:552px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u56_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u58 {
  position:absolute;
  left:0px;
  top:35px;
  width:300px;
  height:150px;
  overflow:hidden;
}
#u58_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u58_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u60 {
  position:absolute;
  left:2px;
  top:67px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u61 {
  position:absolute;
  left:34px;
  top:25px;
  width:100px;
  height:100px;
}
#u62 {
  position:absolute;
  left:10px;
  top:10px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u58_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u64 {
  position:absolute;
  left:2px;
  top:67px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u65 {
  position:absolute;
  left:35px;
  top:25px;
  width:100px;
  height:100px;
}
#u66 {
  position:absolute;
  left:10px;
  top:10px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u58_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u68 {
  position:absolute;
  left:2px;
  top:67px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(9, 187, 7, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u69 {
  position:absolute;
  left:39px;
  top:25px;
  width:100px;
  height:100px;
}
#u70 {
  position:absolute;
  left:10px;
  top:10px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:130px;
  top:165px;
}
#u71_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u71_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  font-size:14px;
  color:#FFFFFF;
}
#u73 {
  position:absolute;
  left:0px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u74 {
  position:absolute;
  left:16px;
  top:0px;
  width:8px;
  height:8px;
  font-size:14px;
  color:#FFFFFF;
}
#u75 {
  position:absolute;
  left:0px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u76 {
  position:absolute;
  left:32px;
  top:0px;
  width:8px;
  height:8px;
  font-size:14px;
  color:#FFFFFF;
}
#u77 {
  position:absolute;
  left:0px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u71_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u78 {
  position:absolute;
  left:16px;
  top:0px;
  width:8px;
  height:8px;
  font-size:14px;
  color:#FFFFFF;
}
#u79 {
  position:absolute;
  left:0px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  font-size:14px;
  color:#FFFFFF;
}
#u81 {
  position:absolute;
  left:0px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u82 {
  position:absolute;
  left:32px;
  top:0px;
  width:8px;
  height:8px;
  font-size:14px;
  color:#FFFFFF;
}
#u83 {
  position:absolute;
  left:0px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u71_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u84 {
  position:absolute;
  left:32px;
  top:0px;
  width:8px;
  height:8px;
  font-size:14px;
  color:#FFFFFF;
}
#u85 {
  position:absolute;
  left:0px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u86 {
  position:absolute;
  left:16px;
  top:0px;
  width:8px;
  height:8px;
  font-size:14px;
  color:#FFFFFF;
}
#u87 {
  position:absolute;
  left:0px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  font-size:14px;
  color:#FFFFFF;
}
#u89 {
  position:absolute;
  left:0px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(174, 174, 174, 0.349019607843137);
}
#u91 {
  position:absolute;
  left:0px;
  top:190px;
  width:300px;
  height:70px;
}
#u92 {
  position:absolute;
  left:2px;
  top:27px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u93 {
  position:absolute;
  left:33px;
  top:201px;
  width:29px;
  height:29px;
}
#u94 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#5E5E5E;
}
#u95 {
  position:absolute;
  left:29px;
  top:234px;
  width:37px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#5E5E5E;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#5E5E5E;
}
#u97 {
  position:absolute;
  left:97px;
  top:234px;
  width:37px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#5E5E5E;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#5E5E5E;
}
#u99 {
  position:absolute;
  left:166px;
  top:234px;
  width:37px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#5E5E5E;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#5E5E5E;
}
#u101 {
  position:absolute;
  left:234px;
  top:234px;
  width:37px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#5E5E5E;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u103 {
  position:absolute;
  left:169px;
  top:200px;
  width:31px;
  height:31px;
}
#u104 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:25px;
}
#u105 {
  position:absolute;
  left:101px;
  top:203px;
  width:29px;
  height:25px;
}
#u106 {
  position:absolute;
  left:2px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u107 {
  position:absolute;
  left:238px;
  top:201px;
  width:29px;
  height:29px;
}
#u108 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(174, 174, 174, 0.349019607843137);
}
#u111 {
  position:absolute;
  left:0px;
  top:265px;
  width:300px;
  height:180px;
}
#u112 {
  position:absolute;
  left:2px;
  top:82px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:2px;
}
#u113 {
  position:absolute;
  left:5px;
  top:295px;
  width:290px;
  height:1px;
}
#u114 {
  position:absolute;
  left:2px;
  top:-8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u115 {
  position:absolute;
  left:128px;
  top:272px;
  width:44px;
  height:18px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u117 {
  position:absolute;
  left:234px;
  top:275px;
  width:59px;
  height:13px;
  font-size:10px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 51, 0, 0.549019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120 {
  position:absolute;
  left:5px;
  top:305px;
  width:290px;
  height:60px;
}
#u121 {
  position:absolute;
  left:2px;
  top:22px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u122 {
  position:absolute;
  left:40px;
  top:309px;
  width:16px;
  height:24px;
  font-size:28px;
  color:#FFFFFF;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u124 {
  position:absolute;
  left:130px;
  top:314px;
  width:75px;
  height:14px;
  color:#FFFFFF;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u126 {
  position:absolute;
  left:142px;
  top:342px;
  width:61px;
  height:12px;
  font-size:12px;
  color:#FFFFFF;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u128 {
  position:absolute;
  left:24px;
  top:342px;
  width:74px;
  height:12px;
  font-size:12px;
  color:#FFFFFF;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:rgba(255, 51, 0, 0.8);
  text-align:center;
}
#u130 {
  position:absolute;
  left:234px;
  top:324px;
  width:49px;
  height:23px;
  font-size:8px;
  color:rgba(255, 51, 0, 0.8);
  text-align:center;
}
#u131 {
  position:absolute;
  left:0px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u132 {
  position:absolute;
  left:24px;
  top:321px;
  width:13px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 51, 0, 0.549019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u135 {
  position:absolute;
  left:5px;
  top:375px;
  width:290px;
  height:60px;
}
#u136 {
  position:absolute;
  left:2px;
  top:22px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#FFFFFF;
}
#u137 {
  position:absolute;
  left:40px;
  top:379px;
  width:28px;
  height:24px;
  font-size:24px;
  color:#FFFFFF;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u139 {
  position:absolute;
  left:130px;
  top:384px;
  width:75px;
  height:14px;
  color:#FFFFFF;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u141 {
  position:absolute;
  left:168px;
  top:412px;
  width:37px;
  height:12px;
  font-size:12px;
  color:#FFFFFF;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u143 {
  position:absolute;
  left:24px;
  top:412px;
  width:74px;
  height:12px;
  font-size:12px;
  color:#FFFFFF;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:23px;
  background:inherit;
  background-color:rgba(102, 51, 0, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u145 {
  position:absolute;
  left:234px;
  top:394px;
  width:49px;
  height:23px;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u146 {
  position:absolute;
  left:0px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u147 {
  position:absolute;
  left:24px;
  top:391px;
  width:13px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:256px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(174, 174, 174, 0.349019607843137);
}
#u151 {
  position:absolute;
  left:0px;
  top:450px;
  width:300px;
  height:256px;
}
#u152 {
  position:absolute;
  left:2px;
  top:120px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:2px;
}
#u153 {
  position:absolute;
  left:5px;
  top:480px;
  width:290px;
  height:1px;
}
#u154 {
  position:absolute;
  left:2px;
  top:-8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u155 {
  position:absolute;
  left:121px;
  top:457px;
  width:59px;
  height:18px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u158 {
  position:absolute;
  left:10px;
  top:495px;
  width:80px;
  height:80px;
}
#u159 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u160 {
  position:absolute;
  left:220px;
  top:501px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#868686;
}
#u162 {
  position:absolute;
  left:211px;
  top:555px;
  width:74px;
  height:13px;
  font-size:10px;
  color:#868686;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF0000;
}
#u164 {
  position:absolute;
  left:121px;
  top:519px;
  width:59px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:2px;
}
#u166 {
  position:absolute;
  left:5px;
  top:590px;
  width:290px;
  height:1px;
}
#u167 {
  position:absolute;
  left:2px;
  top:-8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u169 {
  position:absolute;
  left:10px;
  top:605px;
  width:80px;
  height:80px;
}
#u170 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u171 {
  position:absolute;
  left:220px;
  top:611px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#868686;
}
#u173 {
  position:absolute;
  left:211px;
  top:665px;
  width:74px;
  height:13px;
  font-size:10px;
  color:#868686;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF0000;
}
#u175 {
  position:absolute;
  left:121px;
  top:629px;
  width:59px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u178 {
  position:absolute;
  left:0px;
  top:706px;
  width:300px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u179 {
  position:absolute;
  left:0px;
  top:14px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u180 {
  position:absolute;
  left:24px;
  top:711px;
  width:252px;
  height:16px;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  word-wrap:break-word;
}
#u184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#A9A9A9;
}
#u184 {
  position:absolute;
  left:24px;
  top:732px;
  width:252px;
  height:13px;
  font-size:11px;
  color:#A9A9A9;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
}
#u186_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u186_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  background:inherit;
  background-color:rgba(254, 252, 236, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  font-size:15px;
  color:#FFFFFF;
}
#u188 {
  position:absolute;
  left:0px;
  top:10px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u189 {
  position:absolute;
  left:281px;
  top:13px;
  width:10px;
  height:10px;
}
#u190 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF6600;
  text-align:left;
}
#u191 {
  position:absolute;
  left:30px;
  top:11px;
  width:177px;
  height:14px;
  font-size:12px;
  color:#FF6600;
  text-align:left;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u193 {
  position:absolute;
  left:10px;
  top:10px;
  width:14px;
  height:15px;
}
#u194 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:26px;
  background:inherit;
  background-color:rgba(9, 187, 7, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:12px;
  color:#FFFFFF;
}
#u195 {
  position:absolute;
  left:367px;
  top:553px;
  width:135px;
  height:26px;
  font-size:12px;
  color:#FFFFFF;
}
#u196 {
  position:absolute;
  left:10px;
  top:6px;
  width:115px;
  word-wrap:break-word;
}
